.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;

    .Topbar {
        width: 100%;
        height: 65px;
        border-bottom: 1px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contentContainer {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        gap: 25px;
        justify-content: center;
    }
}